* {
    margin: 0px;
    overflow-x: hidden;
}

#map {
    width: 100vw;
    height: 100vh;

}

#app {
    width: 40vw;
    height: 50vh;
}

/* Navbar */
.navbar {
    background-color: rgba(242, 135, 5, 0.9);
    color: white;
    width: 100%;
    height: 3rem;
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}


.nav_items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
}

.icon {
    width: 7.5rem;
    height: 2.5rem;
    background-image: url("./assets/icon_amigapp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nav_items a {
    margin: 1rem;
    color: white;
    position: relative;
    text-decoration: none;
}

.nav_items a::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.12rem;
    background: rgba(169, 100, 17, 0.9);
}

.nav_items a:hover::before {
    width: 100% !important;
}


/* CHAT CSS */
.chat {
    display: flex;
    flex-direction: column;
    place-items: center;
    flex: 1 1 0;
    width: 331px;
    max-height: 330px;
    height: 330px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 2px 2px 4px silver;
    border: 2px solid silver;
}

.contaniner_chat {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.chat_title {
    text-align: center;
    color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: rgba(242, 135, 5, 0.9);
    border-top-right-radius: 2px;
    border-bottom: 3px solid rgba(169, 100, 17, 0.9);
    border-top-left-radius: 2px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.logo_chat {
    width: 35%;
}

.principal_title_map {
    width: 75%;
}

.principal_title_map {
    font-size: larger;
}

.img_logo_chat {
    object-fit: cover;
    width: 7em;
}

.chat_users {
    height: 100%;
    width: 100%;
    background-color: #e3e3e3;
    border-right: 2px solid silver;
}

.chat_messages-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
    width: 100%;
    background-color: white;
    max-height: 330px;
    overflow-x: hidden;
    border-left: 2px solid #918383;
}

.chat_users_form-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.chat_users_messages-users input {
    padding: 3px
}

.chat_users_message {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    overflow-y: scroll
}

.footer {
    background-color: rgba(242, 135, 5, 0.9);
    color: white;
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    font-weight: 600;
    font-size: 0.9em;
}

a.mapboxgl-ctrl-logo {
    width: 7.5em;
    height: 2em;
}

@media screen and (max-width: 400px) {
    .footer_responsive {
        font-size: smaller;
    }
}

/* #messages .message:nth-of-type(2n+1) {
    background-color: #f2f2f2;
    text-align: right;
} */
#messages .message:nth-child(odd) {
    background-color: #c8cbcd;
    border-bottom: 1px solid silver;
}