* {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#map {
    width: 100vw;
    height: 100vh;

}

#app {
    width: 40vw;
    height: 50vh;
}

/* Navbar */
.navbar {
    background-color: rgba(242, 135, 5, 0.9);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 3rem;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 999;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}


.nav_items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    justify-content: space-between;
    gap: 12px;
}

.icon {
    width: 7.5rem;
    height: 2.5rem;
    background-image: url("./assets/icon_amigapp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nav_items a {
    margin: 1rem;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
}

.nav_items a::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.12rem;
    background: rgba(169, 100, 17, 0.9);
}

.nav_items a:hover::before {
    width: 100% !important;
}


/* CHAT CSS */
.chat {
    display: flex;
    flex-direction: column;
    place-items: center;
    flex: 1 1 0;
    width: 331px;
    max-height: 330px;
    height: 330px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 3px 3px 5px rgb(43, 42, 42);

}

/* Chat nav */
.chat_title {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: rgba(242, 135, 5, 0.9);
    border-top-right-radius: 2px;
    border-bottom: 3px solid rgba(169, 100, 17, 0.9);
    border-top-left-radius: 2px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.logo_chat {
    width: 37%;
}

.principal_title_chat {
    width: 75%;
    font-size: larger;
}

.img_logo_chat {
    object-fit: cover;
    width: 7em;
}

.minimize_logo {
    margin-left: 0.5em;
    width: 5%;
    height: 5%;
    background-image: "./assets/minimize_icon.png";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Chat content */
.contaniner_chat {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.chat_columna_izquierda {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 69, 58, 0.822);
}

.title_user_connect {
    width: 100%;
    height: 15%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.chat_users {
    height: 78%;
    width: 80%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgba(5, 69, 58, 0.923);
    padding: 0.2em;
    text-align: center;
}

.userActive {
    background-color: rgba(5, 69, 58, 0.923);
    color: rgb(255, 255, 255);
}

/* Columna derecha */
.chat_messages-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* white */
    max-height: 330px;
    overflow-x: hidden;
    border-left: 2px solid rgba(5, 69, 58, 0.923);
}

.chat_form_message {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 1.6em;
    padding: 0.2em;
}

.form_chat_input {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#message_input {
    flex: 1;
    border: 2px solid rgba(5, 69, 58, 0.923);
    border-radius: 4px;
    width: 150px;
}

.principal_button {
    width: 70px;
    background-color: rgb(255, 255, 255);
    border: 0.2em solid rgb(38, 115, 101);
    border-radius: 5px;
    padding: 0.2em 1em;
    color: rgb(38, 115, 101);
    font-weight: 500;
    transition: .3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.principal_button:hover {
    background-color: rgb(38, 115, 101);
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: .3s;
}

.footer {
    background-color: rgba(242, 135, 5, 0.9);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    font-weight: 600;
    font-size: 0.9em;
}

a.mapboxgl-ctrl-logo {
    width: 7.5em;
    height: 2em;
}

@media screen and (max-width: 400px) {
    .footer_responsive {
        font-size: smaller;
    }
}

/* #messages .message:nth-of-type(2n+1) {
    background-color: #f2f2f2;
    text-align: right;
} */
#messages .message:nth-child(odd) {
    background-color: #c8cbcd;
    border-bottom: 1px solid silver;
}