*{
    margin: 0px;
    overflow-x:hidden;
}

/* modals */
.container_modal2{
    
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 1000;

}
.modal2{
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 1000px;
  height: auto;
  background-color: #e88915;
  text-align: center;
  
}
.title{
  width: 400px;
  text-align: center;
  padding: 10px;
  color: white;
}
.content{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceff1;
  margin-bottom: 20px;


}
.info_error{
  width: 250px;
  margin-block: 30px;
  color: #868789;
  font-size: 20px;

}

.icon_container{
  width: 100px;
  height: 100px;
  overflow: hidden;

}
.icon_container img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.button2{
  width: fit-content;
}
.button2 input{
  color: white;
  width: 120px;
  height: 40px;
  font-size: 12px;
  padding: 10px;
  overflow: hidden;
  background-color: #e88915;
  margin-block: 10px  30px;
} 

/* ----modals--- */

.container_modal{
  
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 1000;

}
.modal{
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 1000px;
  height: auto;
  background-color: #267265;
  text-align: center;
  
}
.title{
  width: 400px;
  text-align: center;
  padding: 10px;
  color: white;
}
.content{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceff1;
  margin-bottom: 20px;


}
.info_error{
  width: 250px;
  margin-block: 30px;
  color: #868789;
  font-size: 20px;

}

.icon_container{
  width: 100px;
  height: 100px;
  overflow: hidden;

}
.icon_container img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.button{
  width: fit-content;
}
.button input{
  color: white;
  width: 120px;
  height: 40px;
  font-size: 12px;
  padding: 10px;
  overflow: hidden;
  background-color: #267265 ;
  margin-block: 10px  30px;
} 

#map {
    width: 100vw;
    height: 100vh;
    
}

#app {
    width: 40vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0
}

.chat {
    display: flex;
    flex-direction: column;
    place-items: center;
    flex: 1 1 0;
    width: 331px;
    max-height: 330px;
    height: 330px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 2px 2px 4px silver;
    border: 2px solid silver;
}

.contaniner_chat{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    width:100%
}

.chat_title {
    text-align: center;
    width: 100%;
    height: 21px;
    background-color: silver;
    border-top-right-radius: 2px;
    border-bottom: 3px solid #6e6e6e;
    border-top-left-radius: 2px;
}


.chat form {
    display: flex;
}

.chat_users {
    height: 100%;
    width: 100%;
    background-color: #e3e3e3;
    border-right: 2px solid silver;    
}

.chat_messages-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
    width: 100%;
    background-color: white;
    max-height: 330px;
    overflow-x: hidden;
    border-left: 2px solid #918383;
}

.chat_users_form-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.chat_users_messages-users input {
    padding: 3px
}

.chat_users_message {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    overflow-y: scroll
}

/* #messages .message:nth-of-type(2n+1) {
    background-color: #f2f2f2;
    text-align: right;
} */
#messages .message:nth-child(odd) {
    background-color: #c8cbcd;
    border-bottom: 1px solid silver;
}